[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyobjc = "*"
pylint = "*"
tqdm = "*"

[packages]
drawbot = {git = "https://github.com/typemytype/drawbot.git"}
numpy = "*"
scipy = "*"
afdko = "*"
defconappkit = {git = "https://github.com/robotools/defconAppKit.git"}
vanilla = {git = "https://github.com/robotools/vanilla.git"}
ufo-extractor = "*"
glyphslib = "*"
ufo2ft = "*"
fontdiffenator = "*"
fontelemetry = {git = "https://github.com/googlefonts/fontelemetry.git"}

[requires]
python_version = "3.7.6"
