[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"
pylint = "*"
pyobjc = "*"
pyobjc-core = "*"

[packages]
afdko = "*"
booleanoperations = "*"
compreffor = "*"
cu2qu = "*"
defcon = "*"
fontmath = "*"
fontparts = "*"
fontpens = "*"
fonttools = "*"
glyphslib = "*"
mutatormath = "*"
numpy = "*"
scipy = "*"
ufo2ft = "*"
ufolib = "*"
defconappkit = {git = "https://github.com/robotools/defconAppKit.git",ref = "6dab10d"}
vanilla = {git = "https://github.com/robotools/vanilla.git",ref = "473af22"}
drawbot = {git = "https://github.com/typemytype/drawbot.git",ref = "1a9645b"}
compositor = {git = "https://github.com/robotools/compositor.git",ref = "2fb89d7"}
extractor = {git = "https://github.com/robotools/extractor.git",ref = "da3c2c9"}
# ufo-extractor = "*"

[requires]
python_version = "3.7.4"
